//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.07 Education
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9C
//Created Time: Thu 11 24 19:41:31 2022

IO_LOC "anode[7]" 51;
IO_PORT "anode[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "anode[6]" 42;
IO_PORT "anode[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "anode[5]" 34;
IO_PORT "anode[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "anode[4]" 75;
IO_PORT "anode[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "anode[3]" 33;
IO_PORT "anode[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "anode[2]" 73;
IO_PORT "anode[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "anode[1]" 72;
IO_PORT "anode[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "anode[0]" 35;
IO_PORT "anode[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "io86" 86;
IO_PORT "io86" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8;
IO_LOC "sw2" 3;
IO_PORT "sw2" IO_TYPE=LVCMOS18 PULL_MODE=UP;
IO_LOC "sw1" 4;
IO_PORT "sw1" IO_TYPE=LVCMOS18 PULL_MODE=UP;
IO_LOC "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "cathode[7]" 74;
IO_PORT "cathode[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "cathode[6]" 71;
IO_PORT "cathode[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "cathode[5]" 76;
IO_PORT "cathode[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "cathode[4]" 70;
IO_PORT "cathode[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "cathode[3]" 40;
IO_PORT "cathode[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "cathode[2]" 77;
IO_PORT "cathode[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "cathode[1]" 41;
IO_PORT "cathode[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "cathode[0]" 30;
IO_PORT "cathode[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "boardLED1" 10;
IO_PORT "boardLED1" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8;
IO_LOC "rotary_b" 53;
IO_PORT "rotary_b" PULL_MODE=UP;
IO_LOC "rotary_a" 55;
IO_PORT "rotary_a" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "rotary2_b" 69;
IO_PORT "rotary2_b" PULL_MODE=UP;
IO_LOC "rotary2_a" 57;
IO_PORT "rotary2_a" PULL_MODE=UP;
